# Vault has a http health endpoint on /v1/sys/health that returns different http codes
# depending on the status of the running vault instance.
#
# See: https://www.vaultproject.io/api/system/health.html#read-health-information
#
#    * 200 if initialized, unsealed, and active
#    * 429 if unsealed and standby
#    * 472 if data recovery mode replication secondary and active
#    * 473 if performance standby
#    * 501 if not initialized
#    * 503 if sealed
global
    ssl-default-server-ciphers PROFILE=SYSTEM
    ssl-dh-param-file /etc/haproxy/dhparams.pem

defaults
    mode http
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend stats
    bind *:1936
    stats uri /
    stats show-legends
    no log

frontend vaultfrontend
    bind 10.10.0.5:8200 ssl crt /etc/haproxy/ssl/vault.lunartix.local-full.pem verify none
    redirect scheme https code 301 if !{ ssl_fc }
    log global
    option tcplog
    default_backend vaultbackend

backend vaultbackend
    timeout check 5s
    balance roundrobin
    option httpchk HEAD /v1/sys/health
    http-check expect status 200,473

    {% for host in groups['vault'] %}
    server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_hostname'] }}:8200 ssl verify none check
    {% endfor %}


